@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: #18181b;
  
    border-radius: 8px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #f4f4f5;
    border-radius: 8px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    transition: all 0.5s ease-in-out;
    background-color: rgb(126, 123, 123);
    cursor: pointer;
    text-decoration: line-through;
  }
}